.git
.github
.env
**/.env
**/__pycache__
**/*.pyc
**/.pytest_cache
**/venv
**/.venv
frontend/node_modules
frontend/dist
backend/models/*
!backend/models/.gitkeep
backend/uploads/*
backend/static/outputs/*
*.db
